alembic==1.11.1
asyncpg==0.28.0
fastapi==0.100.0
sqlmodel==0.0.8
uvicorn==0.22.0
sqlalchemy-utils
passlib
email-validator
pytest
pytest-asyncio
httpx
eventlet
python-jose
passlib[bcrypt]
python-multipart
fastapi-jwt-auth[asymmetric]
fastapi-mail
fastapi-storages
cmake
opencv-python
pyproject.toml
dlib
face_recognition